* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.square {
    width: 100px;
    height: 100px;
}

.red {
    background-color: rgb(242,79,29);
    transition-property: transform, transform-origin;
    transition-duration:  1s;
    transition-timing-function: ease-in-out;
}

.yellow {
    background-color: rgb(255,186,0);
    transition-property: transform, transform-origin;
    transition-duration:  1s;
    transition-timing-function: ease-in-out;
}

.blue {
    background-color: rgb(0,165,239);
    transition-property: transform, transform-origin;
    transition-duration:  1s;
    transition-timing-function: ease-in-out;
}

.green {
    background-color: rgb(128,187,0);
    transition-property: transform, transform-origin;
    transition-duration:  1s;
    transition-timing-function: ease-in-out;
}

.main {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 200px;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
}

.main:hover > .red {
    transform: rotate(90deg);
    transform-origin: top left;
}

.main:hover > .green {
    transform: rotate(-90deg);
    transform-origin: top right;
}

.main:hover > .blue {
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.main:hover > .yellow {
    transform: rotate(90deg);
    transform-origin: bottom right;
}